@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@custom-variant fixed (&:is(.layout-fixed *));

@theme inline {
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 2000px;
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
  --font-mono: var(--font-mono);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-main-background: var(--main-background);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-nav-background: var(--nav-background);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-fixed: var(--primary-fixed);
  --color-primary-foreground-fixed: var(--primary-foreground-fixed);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-grid: var(--grid);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-selection: var(--selection);
  --color-selection-foreground: var(--selection-foreground);

  --shadow-default: var(--shadow);
  --shadow-alt: var(--shadow-alt);
  --shadow-button-primary: var(--shadow-button-primary);
  --shadow-button-primary-inset: var(--shadow-button-primary-inset);
  --shadow-button-primary-outer: var(--shadow-button-primary-outer);
  --shadow-button-secondary-inset: var(--shadow-button-secondary-inset);
  --shadow-button-outline-inset: var(--shadow-button-outline-inset);
  --shadow-button-destructive-inset: var(--shadow-button-destructive-inset);
}

:root {
  --radius: 0.4rem;
  --main-background: color-mix(
    in oklab,
    var(--color-stone-100) 20%,
    transparent
  );
  --background: var(--color-white);
  --foreground: var(--color-stone-900);
  --nav-background: var(--color-stone-50);
  --card: var(--color-white);
  --card-foreground: var(--color-stone-900);
  --popover: var(--color-white);
  --popover-foreground: var(--color-stone-900);
  --primary: var(--color-stone-900);
  --primary-foreground: var(--color-stone-50);
  --primary-fixed: var(--color-stone-800);
  --primary-foreground-fixed: var(--color-stone-50);
  --secondary: var(--color-stone-100);
  --secondary-foreground: var(--color-stone-800);
  --muted: var(--color-stone-100);
  --muted-foreground: var(--color-stone-500);
  --accent: var(--color-stone-100);
  --accent-foreground: var(--color-stone-800);
  --destructive: var(--color-red-600);
  --border: var(--color-stone-200);
  --grid: color-mix(in oklab, var(--color-stone-200) 50%, transparent);
  --input: var(--color-stone-200);
  --ring: var(--color-stone-400);
  --chart-1: var(--color-blue-300);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);
  --sidebar: var(--color-stone-50);
  --sidebar-foreground: var(--color-stone-900);
  --sidebar-primary: var(--color-stone-800);
  --sidebar-primary-foreground: var(--color-stone-50);
  --sidebar-accent: var(--color-stone-100);
  --sidebar-accent-foreground: var(--color-stone-800);
  --sidebar-border: var(--color-stone-200);
  --sidebar-ring: var(--color-stone-400);
  --selection: var(--color-stone-900);
  --selection-foreground: var(--color-white);

  --shadow:
    6px 6px 0 var(--color-stone-100), -6px -6px 0 var(--color-stone-100);
  --shadow-alt: 6px 6px 0 var(--color-stone-100);

  --shadow-button-primary-inset: color-mix(in oklab, var(--primary) 80%, black)
    0 -2px 0 0 inset;
  --shadow-button-primary-outer: color-mix(in oklab, var(--primary) 20%, white)
    0 1px 3px 0;
  --shadow-button-primary:
    var(--shadow-button-primary-inset), var(--shadow-button-primary-outer);
  --shadow-button-secondary-inset: color-mix(
      in oklab,
      var(--border) 50%,
      transparent
    )
    0 -2px 0 0 inset;
  --shadow-button-outline-inset: color-mix(
      in oklab,
      var(--border) 50%,
      transparent
    )
    0 -2px 0 0 inset;
  --shadow-button-destructive-inset: color-mix(
      in oklab,
      var(--destructive) 80%,
      black
    )
    0 -2px 0 0 inset;
}

.dark {
  --main-background: var(--color-stone-900);
  --background: var(--color-stone-900);
  --foreground: var(--color-stone-50);
  --nav-background: var(--color-stone-800);
  --card: var(--color-stone-800);
  --card-foreground: var(--color-stone-50);
  --popover: var(--color-stone-800);
  --popover-foreground: var(--color-stone-50);
  --primary: var(--color-stone-200);
  --primary-foreground: var(--color-stone-800);
  --primary-fixed: var(--color-stone-200);
  --primary-foreground-fixed: var(--color-stone-950);
  --secondary: var(--color-stone-700);
  --secondary-foreground: var(--color-stone-50);
  --muted: var(--color-stone-700);
  --muted-foreground: var(--color-stone-400);
  --accent: var(--color-stone-700);
  --accent-foreground: var(--color-stone-50);
  --destructive: var(--color-red-500);
  --border: color-mix(in oklab, var(--color-stone-50) 10%, transparent);
  --grid: color-mix(in oklab, var(--color-stone-300) 8%, transparent);
  --input: color-mix(in oklab, var(--color-stone-50) 15%, transparent);
  --ring: var(--color-stone-500);
  --chart-1: var(--color-blue-300);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);
  --sidebar: var(--color-stone-800);
  --sidebar-foreground: var(--color-stone-50);
  --sidebar-primary: var(--color-blue-600);
  --sidebar-primary-foreground: var(--color-stone-50);
  --sidebar-accent: var(--color-stone-700);
  --sidebar-accent-foreground: var(--color-stone-50);
  --sidebar-border: color-mix(in oklab, var(--color-stone-50) 10%, transparent);
  --sidebar-ring: var(--color-stone-500);
  --selection: var(--color-stone-200);
  --selection-foreground: var(--color-stone-800);

  --shadow:
    5px 5px 0 var(--color-stone-800), -5px -5px 0 var(--color-stone-800);
  --shadow-alt: 5px 5px 0 var(--color-stone-800);

  --shadow-button-primary-inset: color-mix(in oklab, var(--primary) 80%, black)
    0 -2px 0 0 inset;
  --shadow-button-primary-outer: color-mix(in oklab, black 40%, transparent) 0
    1px 3px 0;
  --shadow-button-primary:
    var(--shadow-button-primary-inset), var(--shadow-button-primary-outer);
  --shadow-button-secondary-inset: color-mix(
      in oklab,
      var(--border) 50%,
      transparent
    )
    0 -2px 0 0 inset;
  --shadow-button-outline-inset: color-mix(
      in oklab,
      var(--border) 50%,
      transparent
    )
    0 -2px 0 0 inset;
  --shadow-button-destructive-inset: color-mix(
      in oklab,
      var(--destructive) 80%,
      black
    )
    0 -2px 0 0 inset;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-main-background text-foreground;
  }

  [class*="heading-"],
  h1,
  h2,
  h3,
  h4 {
    @apply font-display text-primary scroll-mt-24;
  }

  h1,
  heading-1 {
    @apply text-4xl font-normal tracking-tight text-balance lg:text-5xl;
  }
  h2,
  heading-2 {
    @apply text-3xl font-medium tracking-[-.005em] text-balance lg:text-4xl;
  }
  h3,
  heading-3 {
    @apply text-xl font-medium tracking-[-.005em] text-pretty;
  }
  h4,
  heading-4 {
    @apply text-lg font-medium tracking-[-.005em] text-pretty;
  }

  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    [data-wrapper] {
      @apply min-[1800px]:border-t;
    }
  }

  a:active,
  button:active {
    @apply opacity-60 md:opacity-100;
  }
}

@utility border-grid {
  @apply border-border/50 dark:border-border;
}

@utility container-wrapper {
    @apply 3xl:fixed:max-w-[calc(var(--breakpoint-2xl)+2rem)] mx-auto w-full px-2;
}

@utility container {
    @apply 3xl:max-w-screen-2xl mx-auto max-w-[1400px] px-4 lg:px-8;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.theme-blue {
  --primary: #0751cf;
  --primary-fixed: #0751cf;
  --secondary: var(--color-blue-50);
  --secondary-foreground: var(--color-blue-700);
  --grid: color-mix(in oklab, var(--color-blue-200) 50%, transparent);
  --shadow-button-primary-inset: hsl(219, 93%, 30%) 0 -2px 0 0 inset;
  --shadow-button-primary-outer: hsl(219, 93%, 95%) 0 1px 3px 0;
  --shadow-button-primary:
    var(--shadow-button-primary-inset), var(--shadow-button-primary-outer);

  @variant dark {
    --main-background: hsl(218, 13%, 7.5%);
    --nav-background: #15171bf2;
    --background: hsl(218, 13%, 7.5%);
    --primary: var(--color-blue-300);
    --primary-foreground-fixed: var(--color-white);
    --secondary: color-mix(in oklab, var(--color-blue-500) 10%, transparent);
    --secondary-foreground: var(--color-blue-50);
    --card: hsl(218, 13%, 6%, 0.95);

    --shadow-button-primary-inset: hsl(219, 93%, 30%) 0 -2px 0 0 inset;
    --shadow-button-primary-outer: hsl(0, 0%, 0%, 0.4) 0 1px 3px 0;
    --shadow-button-primary:
      var(--shadow-button-primary-inset), var(--shadow-button-primary-outer);
  }
}

@utility extend-touch-target {
  @media (pointer: coarse) {
    @apply relative touch-manipulation after:absolute after:-inset-2;
  }
}
