.theme-blue {
  --primary: #0751cf;
  --primary-fixed: #0751cf;
  --secondary: var(--color-blue-50);
  --secondary-foreground: var(--color-blue-700);
  --grid: color-mix(in oklab, var(--color-blue-200) 50%, transparent);
  --shadow-button-primary-inset: hsl(219, 93%, 30%) 0 -2px 0 0 inset;
  --shadow-button-primary-outer: hsl(219, 93%, 95%) 0 1px 3px 0;
  --shadow-button-primary:
    var(--shadow-button-primary-inset), var(--shadow-button-primary-outer);

  @variant dark {
    --main-background: hsl(218, 13%, 7.5%);
    --nav-background: #15171bf2;
    --background: hsl(218, 13%, 7.5%);
    --primary: var(--color-blue-300);
    --primary-foreground-fixed: var(--color-white);
    --secondary: color-mix(in oklab, var(--color-blue-500) 10%, transparent);
    --secondary-foreground: var(--color-blue-50);
    --card: hsl(218, 13%, 6%, 0.95);

    --shadow-button-primary-inset: hsl(219, 93%, 30%) 0 -2px 0 0 inset;
    --shadow-button-primary-outer: hsl(0, 0%, 0%, 0.4) 0 1px 3px 0;
    --shadow-button-primary:
      var(--shadow-button-primary-inset), var(--shadow-button-primary-outer);
  }
}

.theme-mono {
  --font-sans: var(--font-mono);

  @media (min-width: 1024px) {
    --font-sans: var(--font-mono);
    --radius: 0.45em;
    --text-lg: 1rem;
    --text-xl: 1.1rem;
    --text-2xl: 1.2rem;
    --text-3xl: 1.3rem;
    --text-4xl: 1.4rem;
    --text-5xl: 1.5rem;
    --text-6xl: 1.6rem;
    --text-7xl: 1.7rem;
    --text-8xl: 1.8rem;
    --text-base: 0.85rem;
    --text-sm: 0.8rem;
    --spacing: 0.222222rem;
  }

  .rounded-xs,
  .rounded-sm,
  .rounded-md,
  .rounded-lg,
  .rounded-xl {
    border-radius: 0;
  }

  .shadow-xs,
  .shadow-sm,
  .shadow-md,
  .shadow-lg,
  .shadow-xl {
    box-shadow: none;
  }

  [data-slot="toggle-group"],
  [data-slot="toggle-group-item"] {
    @apply !rounded-none !shadow-none;
  }
}

.theme-scaled {
  @media (min-width: 1024px) {
    --radius: 0.45em;
    --text-lg: 1rem;
    --text-xl: 1.1rem;
    --text-2xl: 1.2rem;
    --text-3xl: 1.3rem;
    --text-4xl: 1.4rem;
    --text-5xl: 1.5rem;
    --text-6xl: 1.6rem;
    --text-7xl: 1.7rem;
    --text-8xl: 1.8rem;
    --text-base: 0.85rem;
    --text-sm: 0.8rem;
    --spacing: 0.2rem;
  }

  [data-slot="select-trigger"],
  [data-slot="toggle-group-item"] {
    --spacing: 0.2rem;
  }

  [data-slot="card"] {
    border-radius: var(--radius);
    padding-block: calc(var(--spacing) * 4);
    gap: calc(var(--spacing) * 2);
  }

  [data-slot="card"].pb-0 {
    padding-bottom: 0;
  }
}
