.theme-default .theme-container {
  --chart-1: var(--color-blue-300);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);
}

.theme-blue .theme-container {
  --primary: var(--color-blue-600);
  --primary-foreground: var(--color-blue-50);
  --primary-fixed: var(--color-blue-600);
  --primary-foreground-fixed: var(--color-blue-50);
  --secondary: var(--color-blue-100);
  --secondary-foreground: var(--color-blue-800);
  --muted: var(--color-blue-100);
  --muted-foreground: var(--color-blue-500);
  --accent: var(--color-blue-100);
  --accent-foreground: var(--color-blue-800);
  --destructive: var(--color-red-600);
  --border: var(--color-blue-200);
  --input: var(--color-blue-200);
  --ring: var(--color-blue-400);
  --sidebar-primary: var(--color-blue-600);
  --sidebar-primary-foreground: var(--color-blue-50);
  --sidebar-accent: var(--color-blue-100);
  --sidebar-accent-foreground: var(--color-blue-800);
  --sidebar-border: var(--color-blue-200);
  --sidebar-ring: var(--color-blue-400);
  --chart-1: var(--color-blue-300);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);
  --shadow-button-primary-inset: color-mix(
      in oklab,
      var(--color-blue-800) 80%,
      black
    )
    0 -2px 0 0 inset;
  --shadow-button-primary-outer: color-mix(
      in oklab,
      var(--color-blue-200) 60%,
      white
    )
    0 1px 3px 0;
  --shadow-button-primary:
    var(--shadow-button-primary-inset), var(--shadow-button-primary-outer);

  @variant dark {
    --primary: var(--color-blue-500);
    --primary-foreground: var(--color-blue-50);
    --primary-fixed: var(--color-blue-600);
    --primary-foreground-fixed: var(--color-blue-50);
    --secondary: var(--color-blue-800);
    --secondary-foreground: var(--color-blue-50);
    --muted: var(--color-blue-800);
    --muted-foreground: var(--color-blue-400);
    --accent: var(--color-blue-800);
    --accent-foreground: var(--color-blue-50);
    --destructive: var(--color-red-500);
    --border: color-mix(in oklab, var(--color-blue-50) 10%, transparent);
    --input: color-mix(in oklab, var(--color-blue-50) 15%, transparent);
    --ring: var(--color-blue-500);
    --sidebar-primary: var(--color-blue-500);
    --sidebar-primary-foreground: var(--color-blue-50);
    --sidebar-accent: var(--color-blue-800);
    --sidebar-accent-foreground: var(--color-blue-50);
    --sidebar-border: color-mix(
      in oklab,
      var(--color-blue-50) 10%,
      transparent
    );
    --sidebar-ring: var(--color-blue-500);
    --shadow-button-primary-inset: color-mix(
        in oklab,
        var(--color-blue-700) 80%,
        black
      )
      0 -2px 0 0 inset;
    --shadow-button-primary-outer: color-mix(in oklab, black 40%, transparent) 0
      1px 3px 0;
    --shadow-button-primary:
      var(--shadow-button-primary-inset), var(--shadow-button-primary-outer);
  }
}

.theme-amber .theme-container {
  --primary: var(--color-amber-600);
  --primary-foreground: var(--color-amber-50);
  --primary-fixed: var(--color-amber-600);
  --primary-foreground-fixed: var(--color-amber-50);
  --secondary: var(--color-amber-100);
  --secondary-foreground: var(--color-amber-800);
  --muted: var(--color-amber-100);
  --muted-foreground: var(--color-amber-500);
  --accent: var(--color-amber-100);
  --accent-foreground: var(--color-amber-800);
  --destructive: var(--color-red-600);
  --border: var(--color-amber-200);
  --input: var(--color-amber-200);
  --ring: var(--color-amber-400);
  --sidebar-primary: var(--color-amber-600);
  --sidebar-primary-foreground: var(--color-amber-50);
  --sidebar-accent: var(--color-amber-100);
  --sidebar-accent-foreground: var(--color-amber-800);
  --sidebar-border: var(--color-amber-200);
  --sidebar-ring: var(--color-amber-400);
  --chart-1: var(--color-amber-300);
  --chart-2: var(--color-amber-500);
  --chart-3: var(--color-amber-600);
  --chart-4: var(--color-amber-700);
  --chart-5: var(--color-amber-800);
  --shadow-button-primary-inset: color-mix(
      in oklab,
      var(--color-amber-800) 80%,
      black
    )
    0 -2px 0 0 inset;
  --shadow-button-primary-outer: color-mix(
      in oklab,
      var(--color-amber-200) 60%,
      white
    )
    0 1px 3px 0;
  --shadow-button-primary:
    var(--shadow-button-primary-inset), var(--shadow-button-primary-outer);

  @variant dark {
    --primary: var(--color-amber-500);
    --primary-foreground: var(--color-amber-50);
    --primary-fixed: var(--color-amber-600);
    --primary-foreground-fixed: var(--color-amber-50);
    --secondary: var(--color-amber-800);
    --secondary-foreground: var(--color-amber-50);
    --muted: var(--color-amber-800);
    --muted-foreground: var(--color-amber-400);
    --accent: var(--color-amber-800);
    --accent-foreground: var(--color-amber-50);
    --destructive: var(--color-red-500);
    --border: color-mix(in oklab, var(--color-amber-50) 10%, transparent);
    --input: color-mix(in oklab, var(--color-amber-50) 15%, transparent);
    --ring: var(--color-amber-500);
    --sidebar-primary: var(--color-amber-500);
    --sidebar-primary-foreground: var(--color-amber-50);
    --sidebar-accent: var(--color-amber-800);
    --sidebar-accent-foreground: var(--color-amber-50);
    --sidebar-border: color-mix(
      in oklab,
      var(--color-amber-50) 10%,
      transparent
    );
    --sidebar-ring: var(--color-amber-500);
    --shadow-button-primary-inset: color-mix(
        in oklab,
        var(--color-amber-700) 80%,
        black
      )
      0 -2px 0 0 inset;
    --shadow-button-primary-outer: color-mix(in oklab, black 40%, transparent) 0
      1px 3px 0;
    --shadow-button-primary:
      var(--shadow-button-primary-inset), var(--shadow-button-primary-outer);
  }
}

.theme-rose .theme-container {
  --primary: var(--color-rose-600);
  --primary-foreground: var(--color-rose-50);
  --primary-fixed: var(--color-rose-600);
  --primary-foreground-fixed: var(--color-rose-50);
  --secondary: var(--color-rose-100);
  --secondary-foreground: var(--color-rose-800);
  --muted: var(--color-rose-100);
  --muted-foreground: var(--color-rose-500);
  --accent: var(--color-rose-100);
  --accent-foreground: var(--color-rose-800);
  --destructive: var(--color-red-600);
  --border: var(--color-rose-200);
  --input: var(--color-rose-200);
  --ring: var(--color-rose-400);
  --sidebar-primary: var(--color-rose-600);
  --sidebar-primary-foreground: var(--color-rose-50);
  --sidebar-accent: var(--color-rose-100);
  --sidebar-accent-foreground: var(--color-rose-800);
  --sidebar-border: var(--color-rose-200);
  --sidebar-ring: var(--color-rose-400);
  --chart-1: var(--color-rose-300);
  --chart-2: var(--color-rose-500);
  --chart-3: var(--color-rose-600);
  --chart-4: var(--color-rose-700);
  --chart-5: var(--color-rose-800);
  --shadow-button-primary-inset: color-mix(
      in oklab,
      var(--color-rose-800) 80%,
      black
    )
    0 -2px 0 0 inset;
  --shadow-button-primary-outer: color-mix(
      in oklab,
      var(--color-rose-200) 60%,
      white
    )
    0 1px 3px 0;
  --shadow-button-primary:
    var(--shadow-button-primary-inset), var(--shadow-button-primary-outer);

  @variant dark {
    --primary: var(--color-rose-500);
    --primary-foreground: var(--color-rose-50);
    --primary-fixed: var(--color-rose-600);
    --primary-foreground-fixed: var(--color-rose-50);
    --secondary: var(--color-rose-800);
    --secondary-foreground: var(--color-rose-50);
    --muted: var(--color-rose-800);
    --muted-foreground: var(--color-rose-400);
    --accent: var(--color-rose-800);
    --accent-foreground: var(--color-rose-50);
    --destructive: var(--color-red-500);
    --border: color-mix(in oklab, var(--color-rose-50) 10%, transparent);
    --input: color-mix(in oklab, var(--color-rose-50) 15%, transparent);
    --ring: var(--color-rose-500);
    --sidebar-primary: var(--color-rose-500);
    --sidebar-primary-foreground: var(--color-rose-50);
    --sidebar-accent: var(--color-rose-800);
    --sidebar-accent-foreground: var(--color-rose-50);
    --sidebar-border: color-mix(
      in oklab,
      var(--color-rose-50) 10%,
      transparent
    );
    --sidebar-ring: var(--color-rose-500);
    --shadow-button-primary-inset: color-mix(
        in oklab,
        var(--color-rose-700) 80%,
        black
      )
      0 -2px 0 0 inset;
    --shadow-button-primary-outer: color-mix(in oklab, black 40%, transparent) 0
      1px 3px 0;
    --shadow-button-primary:
      var(--shadow-button-primary-inset), var(--shadow-button-primary-outer);
  }
}

.theme-mono .theme-container {
  --font-sans: var(--font-mono);

  @media (min-width: 1024px) {
    --font-sans: var(--font-mono);
    --radius: 0.45em;
    --text-lg: 1rem;
    --text-xl: 1.1rem;
    --text-2xl: 1.2rem;
    --text-3xl: 1.3rem;
    --text-4xl: 1.4rem;
    --text-5xl: 1.5rem;
    --text-6xl: 1.6rem;
    --text-7xl: 1.7rem;
    --text-8xl: 1.8rem;
    --text-base: 0.85rem;
    --text-sm: 0.8rem;
    --spacing: 0.222222rem;
  }

  .rounded-xs,
  .rounded-sm,
  .rounded-md,
  .rounded-lg,
  .rounded-xl {
    border-radius: 0;
  }

  .shadow-xs,
  .shadow-sm,
  .shadow-md,
  .shadow-lg,
  .shadow-xl {
    box-shadow: none;
  }

  [data-slot="toggle-group"],
  [data-slot="toggle-group-item"] {
    @apply !rounded-none !shadow-none;
  }
}

.theme-scaled .theme-container {
  @media (min-width: 1024px) {
    --radius: 0.45em;
    --text-lg: 1rem;
    --text-xl: 1.1rem;
    --text-2xl: 1.2rem;
    --text-3xl: 1.3rem;
    --text-4xl: 1.4rem;
    --text-5xl: 1.5rem;
    --text-6xl: 1.6rem;
    --text-7xl: 1.7rem;
    --text-8xl: 1.8rem;
    --text-base: 0.85rem;
    --text-sm: 0.8rem;
    --spacing: 0.2rem;
  }

  [data-slot="select-trigger"],
  [data-slot="toggle-group-item"] {
    --spacing: 0.2rem;
  }

  [data-slot="card"] {
    border-radius: var(--radius);
    padding-block: calc(var(--spacing) * 4);
    gap: calc(var(--spacing) * 2);
  }

  [data-slot="card"].pb-0 {
    padding-bottom: 0;
  }
}
